<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>DGFX - Official Website</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="../styles/global.css" type="text/css" />
    <link href="https://fonts.googleapis.com/css?family=Lexend+Mega&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Roboto&display=swap" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"
        async></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"
        async></script>
    <script src="../utils/scrollTop.js"></script>
</head>

<body>
    <!-- navbar -->
    <nav id="navbar" class="navbar navbar-default navbar-expand-lg">
        <a class="navbar-brand" href="#">DGFX - Official Website </a>
        <button class="ml-auto navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText"
            aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
            <h1>&#9776;</h1>
        </button>
        <div class="collapse navbar-collapse" id="navbarText">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item active">
                    <a id="homeBtn" data-toggle="collapse" data-target="#navbarText" class="nav-link" href="#">Home
                        <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a id="musicBtn" data-toggle="collapse" data-target="#navbarText" class="nav-link"
                        href="#">Music</a>
                </li>
                <li class="nav-item">
                    <a id="contactBtn" class="nav-link" data-toggle="collapse" data-target="#navbarText"
                        href="#">Contact</a>
                </li>
            </ul>
        </div>
    </nav>

    <section class="hero-section">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-8 col-md-8 col-sm-8 mx-auto">
                    <img class="mx-auto d-block" src="../img/others/PUxrs19 - Imgur.jpg">
                </div>
            </div>
            <div class="row">
                <div class="col-12 mx-auto hero-text">
                    <h1 class="text-center"> Hello, I am <br /><span id="span-hero">DGFX.</span></h1>
                </div>
                <div class="col-xl-5 col-lg-7 col-md-8 col-sm-12 col-12 mx-auto hero-bio" id="bio">
                    <p>Young music producer from Poland called DGFX, full name Dominik Fojcik. His favourite genres are:
                        Future Bass and Future Bounce, but also was experimenting with other genres like Trap, Synthwave
                        or Deep House.</p>
                </div>
            </div>

        </div>
    </section>


    <section class="music">
        <div class="container music-section">

            <div class="row">
                <div class="col-12 text-center">
                    <h2>Latest releases</h2>
                    <h6>click to look up song on soundcloud</h6>
                    <br/>
                </div>
            </div>

            <div class="row no-gutters">
                <div class="col-sm-4 col-6 col-md-4">
                    <a target="_blank" href="https://soundcloud.com/dgfxpro/dgfx-1-minute-1"><img class="img-fluid"
                            src="../img/covers/1 - yGbpIBm.jpg"></a>
                </div>

                <div class="col-sm-4 col-6 col-md-4">
                    <a target="_blank" href="https://soundcloud.com/dgfxpro/dgfx-play"><img class="img-fluid"
                            src="../img/covers/2 - bk6WPOO.png"></a>
                </div>

                <div class="col-sm-4 col-md-4">
                    <a target="_blank" href="https://soundcloud.com/dgfxpro/dgfx-stranger"><img class="img-fluid"
                            src="../img/covers/3 - G5Uf3Qw.png"></a>
                </div>

                <div class="col-sm-4 col-6 col-md-4">
                    <a target="_blank" href="https://soundcloud.com/dgfxpro/kanye-west-power-dgfx-remix"><img
                            class="img-fluid" src="../img/covers/4 - oBd4nDo.jpg"></a>
                </div>

                <div class="col-sm-4 col-6 col-md-4">
                    <a target="_blank" href="https://soundcloud.com/dgfxpro/dgfx-mambo-official-mix"><img
                            class="img-fluid" src="../img/covers/5 - fgNwKBx.jpg"></a>
                </div>

                <div class="col-sm-4 col-md-4">
                    <a target="_blank" href="https://soundcloud.com/dgfxpro/dgfx-wave"><img id="lastImg"
                            class="img-fluid" src="../img/covers/6 - ZXbag1W.png"></a>
                </div>
            </div>
        </div>
    </section>


    <section class="contact">
        <div class="container contact-section">
            <div class="row">
                <div class="col-12 text-center">
                    <h1>Contact</h1>
                    <h6>Where can you find me?</h6>
                </div>

                <div class="contact-icons text-center col-12">
                    <img src="../img/others/iconfinder_008_Mail_183573.png"/> <a href="mailto:dgfxpro@gmail.com"><h3>dgfxpro@gmail.com</h3></a>
                    <br/>
                    <img src="../img/others/iconfinder_SoundCloud_194912.png"/> <a target="_blank" href="https://soundcloud.com/dgfxpro"><h3>dgfxpro</h3></a>
                    <br/>
                    <img src="../img/others/iconfinder_38-instagram_1161954.png"/> <a target="_blank" href="https://www.instagram.com/dgramfx/?fbclid=IwAR1gd8XDMbd2W24pyU_j7XD-2YTv5sGBnrKRSQHXXKMeOn84tL7540QSK0s"><h3>@dgramfx</h3></a>
                    <br/>
                    <img class="lastIcon" src="../img/others/iconfinder_58-youtube_104445.png"/> <a target="_blank" href="https://www.youtube.com/channel/UC-5aTeaAA9DA2PfYl23T9JA?fbclid=IwAR0vNvdKctVh-FGOcaNQunLdXmV-iW5je2UxYQMTmU_9KDiDnJe5ZZpTwQo"><h3>DGFX</h3></a>
                    <br/>
                    <br/>
                    <br/>
                    <h3>&#9400; by DGFX</h3>
                    <p>Made by Nikodem Zychma</p>
                </div>
            </div>
        </div>
    </section>



    <button onclick="topFunction()" id="myBtn" title="Go to top">Top</button>
</body>

</html>