<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>DGFX - Official Website</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="../styles/global.css" type="text/css" />
    <link href="https://fonts.googleapis.com/css?family=Lexend+Mega&display=swap" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous" async></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous" async></script>
    <script src="../utils/scrollTop.js"></script>
</head>
<body>
    <!-- navbar -->
    <nav id="navbar" class="navbar navbar-default fixed-top navbar-expand-lg">
            <a class="navbar-brand" href="#">DGFX - Official Website </a>
            <button class="ml-auto navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
                    <h1>
                    &#9776;
                    </h1>
            </button>
            <div class="collapse navbar-collapse" id="navbarText">
                <ul class="navbar-nav ml-auto">
                <li class="nav-item active">
                    <a id="homeBtn" data-toggle="collapse" data-target="#navbarText" class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a id="musicBtn" data-toggle="collapse" data-target="#navbarText" class="nav-link" href="#">Music</a>
                </li>
                <li class="nav-item">
                    <a id="contactBtn" class="nav-link" data-toggle="collapse" data-target="#navbarText" href="#">Contact</a>
                </li>
                </ul>
            </div>
    </nav>

    <section class="hero">
        <div class="container col-12 hero-section">
            <h1 class="hero-text"> Hello, I am <br/><span id="span-hero">DGFX.</span></h1>
            <img src="../img/others/lines2.png">
        </div>
    </section>

    <section class="music">
            <div class="container music-section">

                    <div class="row">
                        <div class="col-12 text-center">
                            <h2>Latest releases</h2>
                        </div>
                    </div>
            
                    <div class="row">
            
                        <div class="col-sm-4 col-6 col-md-4">
                            <a target="_blank" href="http://stmpd.co/MGBHMFA"><img class="img-fluid" src="../img/covers/1 - yGbpIBm.jpg"></a>
                        </div>
            
                        <div class="col-sm-4 col-6 col-md-4">
                            <a target="_blank" href="http://stmpd.co/MGTATID"><img class="img-fluid" src="../img/covers/2 - bk6WPOO.png"></a>
                        </div>
            
                        <div class="col-sm-4 col-md-4">
                            <a target="_blank" href="http://stmpd.co/MGMSDID"><img class="img-fluid" src="../img/covers/3 - G5Uf3Qw.png"></a>
                        </div>
            
                        <div class="col-sm-4 col-6 col-md-4">
                            <a target="_blank" href="http://stmpd.co/MGMTNID"><img class="img-fluid" src="../img/covers/4 - oBd4nDo.jpg"></a>
                        </div>
            
                        <div class="col-sm-4 col-6 col-md-4">
                            <a target="_blank" href="http://stmpd.co/MGBNSID"><img class="img-fluid" src="../img/covers/5 - fgNwKBx.jpg"></a>
                        </div>
            
                        <div class="col-sm-4 col-6 col-md-4">
                            <a target="_blank" href="http://stmpd.co/MJGLID"><img class="img-fluid" src="../img/covers/6 - ZXbag1W.png"></a>
                        </div>
                    </div>
                </div>
    </section>

    <section class="contact-section">
        <div class="row">
            <div class="col-md-6 contact">
                <h1 class="text-dark">Kontakt</h1>
            </div>
        </div>
    </div>
    </section>

    
    <button onclick="topFunction()" id="myBtn" title="Go to top">Top</button>
</body>
</html>